<p>todolist works!</p>
<div class="todolist">
    <input type="text" [(ngModel)]="keyword" (keyup)="doadd($event)" />

    <hr>

    <h3>代办事项</h3>
    <ul>
        <!-- <li *ngFor="let item of todolist;let key=index" *ngIf="item.status==0"> -->

        <li *ngFor="let item of todolist;let key=index" [hidden]="item.status ==1">
            <input type="checkbox" [(ngModel)]="item.status" (change)="changeBox()"
                class="checkBox" />{{item.titile}}----<button (click)="deleteData(key)" class="formbutton">x</button>
        </li>
    </ul>
    <h3>已完成事项</h3>
    <ul>
        <li *ngFor="let item of todolist;let key=index" [hidden]="item.status ==0">
            <input type="checkbox" [(ngModel)]="item.status" (change)="changeBox()"
                class="checkBox" />{{item.titile}}----<button (click)="deleteData(key)" class="formbutton">x</button>
        </li>
    </ul>
</div>